.box {
    width: 100px;
    height: 100px;
    background-color: #023E8A;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }